<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="UTF-8"
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title> Add signature to database</title>
        <link href"{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    </head>
    <body>
        <h1> Add signature to database </h1>
        <form action= "/thankyou">
            input<input type="text" name="name" id="name"
            placeholder ="Enter a City"/>
            <button type ="submit">submit</button>
    </body>

    </html>